html, body {
  height: 100%;
  width:  100%;
  padding: 0;
  margin:  0;
  background-color: #fff;
  color: #666;
  font-family: 'Libre Baskerville', serif;
}

/* Splash */

.cover {
  position: relative;
  height: 360px;
  overflow: hidden;
}

.video {
  min-width: 100%;
}

.bio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 2px solid #aaa;
}

.bio .container {
  padding: 0;
}

.profile {
  height: 200px;
  border-radius: 200px;
  border: 2px solid #aaa;
  margin: 45px 80px 0 0;
  float: right;
  transform: scaleX(-1);
  filter: FlipH;
}

.blurb {
  padding: 30px 330px 0 0;
}

.blurb p {
  line-height: 1.6em;
}

.name {
  margin-bottom: 20px;
}

/* Content */

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 10px;
}

.container .title {
  color: #666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
}

.container .subtitle {
  margin: 3px 0 0 0;
  color: #aaa;
}

.subtitle .link {
  color: #aaa;
  text-decoration: none;
}

.subtitle .link:hover {
  color: #666;
}

.container .sites {
  margin: 0;
  padding: 20px 0 0 0;
  list-style: none;
}

.sites .site {
  margin: 0;
  padding: 0;
  width: 310px;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

.sites .site:nth-child(3n) {
  margin-right: 0px;
}

.site .screencap {
  height: 194px;
  width: 310px;
  border: 2px solid #eee;
  border-radius: 4px;
}

.site .screencap:hover {
  border: 2px solid #666;
}

.site .link,
.site .caption .link {
  color: #666;
  text-decoration: none;
}

.site .caption-title {
  margin: 15px 0 0 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

.site .caption {
  margin: 5px 0 50px 0;
  color: #aaa;
  line-height: 1.6em;
}

.site .date {
  font-style: italic;
  font-size: 12px;
  color: #aaa;
}

/**
 *  Small screens
 **/

@media only screen and (max-width: 640px) {
  .container {
    width: 380px;
  }

  .site .screencap {
    height: 225px;
    width: 360px;
  }

  .profile {
    display: none;
  }

  .blurb {
   padding: 0 5px;
  }

  .bio {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 640px) and (max-width: 999px) {
  .container {
    width: 655px;
  }

  .site {
    width: 300px;
  }

  .site .screencap {
    height: 188px;
    width: 300px;
  }

  .sites .site:nth-child(3n) {
    margin-right: 30px;
  }

  .sites .site:nth-child(2n) {
    margin-right: 0px;
  }

  .profile {
    display: none;
  }

  .blurb {
    padding: 30px 0 0 0;
  }
}
