html, body {
  height: 100%;
  width:  100%;
  padding: 0;
  margin:  0;
  background-color: #fff;
  color: #666;
  font-family: 'Libre Baskerville', serif;
}

/* Text and Headers */

.header {
  color: #666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 0 0 20px 0;
}

.text {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.6em;
}

.light {
  color: #aaa;
}

.dark {
  color: #666;
}

.link {
  text-decoration: none;
}

/* Grid */

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.grid {
  padding: 0;
  display: grid;
  grid-template-columns: 313px 313px 313px;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.grid .span-2 {
  grid-column: 1 / span 2;
  padding: 0;
}

/* Splash */

.splash {
  position: relative;
  height: 360px;
  overflow: hidden;
}

.video {
  min-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.90);
  border-bottom: 2px solid #aaa;
}

.name {
  margin-bottom: 20px;
}

.profile {
  margin: auto auto;
  height: 200px;
  border-radius: 200px;
  border: 2px solid #aaa;
  transform: scaleX(-1);
  filter: FlipH;
}

/* Content */

.container:nth-child(2) {
  margin-bottom: 50px;
}

.section {
  margin: 50px 0 20px 0;
}

.sites {
  margin: 0;
  padding: 0;
  list-style: none;
}

.screencap {
  height: 194px;
  width: 310px;
  border: 2px solid #eee;
  border-radius: 4px;
}

.screencap:hover {
  border: 2px solid #666;
}

.caption-title {
  margin: 10px 0 0 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

.site .caption {
  margin: 5px 0 0 0;
}

/**
 *  Small screens
 **/

@media only screen and (max-width: 640px) {
  /* Grid */
  .container {
    width: 380px;
  }

  .grid {
    padding: 0;
    display: grid;
    grid-template-columns: 360px;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
  }

  .grid .span-2 {
    grid-column: 1 / span 1;
  }

  /* Splash */
  .splash {
    height: 300px;
  }

  .overlay {
    padding: 20px;
  }

  .profile {
    display: none;
  }

  .optional {
    display: none;
  }

  .overlay .text {
    font-size: 0.9em;
  }

  .screencap {
    height: 225px;
    width: 360px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 999px) {
  /* Grid */
  .container {
    width: 655px;
  }

  .grid {
    padding: 0;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 50px;
    grid-row-gap: 40px;
  }

  /* Splash */
  .splash {
    height: 300px;
  }

  .optional {
    display: none;
  }

  .profile {
    display: none;
  }

  .screencap {
    height: 188px;
    width: 300px;
  }
}
